/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.pink {
    color: hsla(325, 77%, 63%, 0.74);
}

.v-middle {
    vertical-align: middle;
}

.mat-mdc-snack-bar-container {
    &.msg-success {
        --mdc-snackbar-container-color: #28a745;
        color: white;
    }
}

.mat-mdc-snack-bar-container {
    &.msg-error {
        --mdc-snackbar-container-color: #e35e6b;
        color: white;
    }
}

.mat-mdc-raised-button.mat-red:not(:disabled) {
    background-color: rgb(197, 56, 56);
    color: #fff;
}

.mat-mdc-raised-button.mat-green:not(:disabled) {
    background-color: rgb(72, 197, 56);
    color: #fff;
}

.mat-mdc-raised-button.mat-red:hover {
    background-color: rgb(156, 54, 54);
}